
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html{
    font-size: 100%;
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    width: 70%;
    display: flex;
    margin: auto;
}
.container-center{
    max-width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.max{
    margin: auto;
    max-width: 1200px;
    width: 80%;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}

.flex{
    display: flex;
}

.flex-reverse{
    display: flex;
    flex-direction: row-reverse;
}
/* navigation bar-general */
nav{
    padding: 15px;
    max-width: 1200px;
}
.flex{
    display: flex;
}

.flex-jc-sb{
    justify-content: space-between;
}

.flex-ai{
    align-items: center;
}

a, a:visited, a:hover{
    text-decoration: none;
}

/* navigation bar-menu */

.open>span:first-child{
    transform: rotate(45deg);
}

.open>span:nth-child(2){
    opacity: 0;
}

.open>span:last-child{
    transform: rotate(-45deg);
}


.overlay{
    opacity: 1;
    display: block;
    position: fixed;
    top:66px;
    bottom:0px;
    right:0px;
    left:0px;
    background-image: linear-gradient(black, transparent);

}

.noscroll{
    overflow: hidden;
}
.dissapear{
    visibility: hidden;
}

.header_menu{
    
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    max-width: 600px;
    width: 80%;
    background-color: #fff;
    padding:30px;
    border: 1px solid grey;
    border-radius: 5px;
    /* box-shadow: 5px 5px 5px #6B7280; */
    margin: 20px auto
    
    
}

.header_menu>a{
    color: #6B7280;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding:10px;
    
    
}

.header_menu>a:hover{
    color: white;
    background-color:#FBBF24 ;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #6B7280;
    /* position: relative; */
}


/* color: #6B7280; */
.menu >span{
    display: block;
    width: 26px;
    height: 2px;
    background-color: black;
    transform-origin: 6px 1px;
    
}

.menu >span:not(:last-child){
    margin-bottom: 3px;

}

.links{
    text-decoration: none;
    padding: 0rem 1rem;
}

.primary-links{
    background-color: #FBBF24;
    padding: 0.2rem 0.2rem;
    border-radius: 0.5rem;
    color: white;

}

.secondary-links{
    color: #FBBF24;
    padding: 0.2rem 0.2rem;
    border-radius: 0.5rem;
    border: 1px solid #FBBF24;
    font-weight: bold;

}

.links>a:not(:first-child){
    margin-left: 15px;
}

.links>a{
    font-size: 0.8rem;
    color: white;
    font-weight: 600;
    background-color:#FBBF24 ;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #6B7280;
    position: relative;
}

.links>a:hover::after{
    content: "";
    position: absolute;
    left: 5%;
    right: 5%;
    margin-top: 30px;
    border: 3px solid #FBBF24;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #6B7280;
}



/* navigation logo */

.logo, .logo:visited, .logo:hover{
    text-decoration: none;
}

.logo{
    font-weight: 800;
    font-family: 'Anton', sans-serif;
    /* font-family: 'Qahiri', sans-serif; */
    font-size: 25px;
    color:white;
    background-color:#FBBF24 ;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #6B7280;
}

.logo:hover{
    font-weight: 800;
    font-family: 'Anton', sans-serif;
    font-size: 24.2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #FBBF24;
    background-color: white;
    border-radius: 0.5 rem;
    border: 1px solid #FBBF24;
}

.logo>span{
    color:white;
}

/* hero image */
.hero{
    justify-content: center;
}



@media screen and (min-width:400px){
    .hero-img{
        width: 100%;
    }

   
}
    

@media(min-width: 600px){
    .hide-for-mobile{
        display:none;
    }
    .hero-comp{
        display: flex;
        flex-direction: row-reverse;
        /* justify-content: space-between; */
    }
}

@media(max-width: 600px){
    .hide-for-desktop{
        display:none;
    }

    .hero-text{
    padding: 30px;
}
    /* .hero-img{
        float: left;
    } */
    .hero-img{
        padding-bottom:30px;
    }

}

/* .hero-comp>div{
    padding-top: 50px;
} */

.hero-img{
    text-align: center;
    max-width: 700px;
    height: 400px;
    margin: auto;
    float: left;
}

.hero-band{
    /* font-size: clamp(1rem, 2.5vw, 2rem); */
    font-weight: 800;
    font-family: 'Anton', sans-serif;
    color: #6B7280;
    padding-left: 30px;
    padding-top: 30px;

}

.hero-header{
    font-weight: 800;
    /* font-family: 'Anton', sans-serif; */
    font-size: clamp(1.5rem, 2vw, 2rem);
    /* font-size: 25px; */
    color:white;
    background-color:#FBBF24 ;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #6B7280;

}

.hero-bottom{
    font-weight: 600;
    font-family: 'Anton', sans-serif;
    color: #6B7280;
    padding-left: 30px;

}

/* social media links */

.wrapper{
    padding-left: 30px;
    /* color: #6B7280; */
    /* color: black; */
}

.wrapper .button{
    display: inline-block;
    height: 50px;
    width: 50px;
    /* float: left; */
    margin: 0 5px;
    background: #F3F4F6;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #6B7280;
    cursor: pointer;
    transition:all 0.3s ease-in-out;
    overflow: hidden;
}

.wrapper .button:hover{
    width: 160px;
}

.wrapper .button .icon{
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    line-height: 50px;
    text-align:center ;
    transition:all 0.3s ease-in-out;
}

.wrapper .button:nth-child(1):hover .icon{
   background:#eb5146;
}

.wrapper .button:nth-child(2):hover .icon{
    background:#4d5180;
 }

.wrapper .button .icon i{
    color:#6B7280 ;
    font-size: 20px;
    line-height: 50px;
    transition:all 0.3s ease-in-out;
}

.wrapper .button:hover .icon i{
    color: #fff;
}


.wrapper .button span{
    font-size: 17px;
    line-height: 50px;
    font-weight: 500;
    margin-left: 10px;
    transition:all 0.3s ease-in-out;
}

.wrapper .button:nth-child(1) span{
    color:#eb5146;
 }

 .wrapper .button:nth-child(2) span{
     color:#4d5180;
  }

.intro{
    position: absolute;
}

.image{
    position: relative;
}
/* section */
.section{
    padding: 1rem;
    padding-left: 30px;
    color: #6B7280;
}
.section h1{
    text-align: left;
}

.off-white{
    background-color: #F3F4F6;
}

.emoji{
    height: 100px;
    width: auto;
    padding: 1 rem;
    padding-right: 200px;
}

/* .container-right{
    padding-right: 200px;
}

.container-left{
    padding-left: 200px;
} */

.footer{
    background-color: #FBBF24;
    padding: 2rem 0rem;
    text-align: center;
    color: white;
    border-top-right-radius:1rem ;
}

.footer .links{
    color: white;
}

.footer ul{
    padding-inline-start: 0px;
}

.footer .head{
    font-weight: bold;
}

.social-links{
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-links a{
    color: #fff;
    padding: 30px;
    
}

/* .social-links a:nth-child(1){
    padding-left: 550px;
} */

/* .social-links a:not(:nth-child(1)){
    padding-left: 30px;
} */

.social-links .footer-icons i{
    font-size: 50px;
}

.float-right{
    max-width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}