
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

hr{
    margin:2rem 0rem;
}
:root{
    --primary-color:#FBBF24;
    --dark-grey:#6B7280;
    --off-white:#F3F4F6;
}
.container{
    padding: 0rem 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

.links{
    text-decoration: none;
    padding: 0rem 1rem;
}

.primary-links{
    background-color: var(--primary-color);
    padding: 0.2rem 0.2rem;
    border-radius: 0.5rem;
    color: white;

}

.secondary-links{
    color: var(--primary-color);
    padding: 0.2rem 0.2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    font-weight: bold;
    
}

.lists-non-bullets{
    list-style: none;
}

.lists-inline{
    display: inline;
    padding: 0rem 1rem;
}

.navigation{
    background-color: var(--primary-color);
    color: white;
    border-bottom-left-radius: 1rem;
}

.navigation .links{
    color: white;
}

.navigation .align{
    text-align: right;
    padding: 1rem;
}

.navigation .nav-brand{
    font-weight: 900;
    font-size: 50px;
    padding-top: 1rem;
}

.navigation .nav-bottom{
    padding: 0rem;
    text-align: left;
}

.navigation .list-active{
    font-weight: bold;
}

.hero{
    padding: 1rem;
}

.hero .hero-img{
    max-width: 350px;
    padding: 1rem;
    margin: auto;
    display: block;
}

.hero .hero-band{
    color: var(--dark-grey);
    text-align: center;
}

.hero .hero-band .hero-header{
    color: var(--primary-color);
    
}

.section{
    padding: 1rem;
}
.section h1{
    text-align: center;
}

.off-white{
    background-color: var(--off-white);
}

.footer{
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    color: white;
    border-top-right-radius:1rem ;
}

.footer .links{
    color: white;
}

.footer ul{
    padding-inline-start: 0px;
}

.footer .head{
    font-weight: bold;
}