
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

/* navigation bar-general */
nav{
    padding: 15px;
}
.flex{
    display: flex;
}

.flex-jc-sb{
    justify-content: space-between;
}

.flex-ai{
    align-items: center;
}

a, a:visited, a:hover{
    text-decoration: none;
}

/* navigation bar-menu */
.menu >span{
    display: block;
    width: 26px;
    height: 2px;
    background-color: black;
}

.menu >span{
    display: block;
    width: 26px;
    height: 2px;
    background-color: black;
}

.menu >span:not(:last-child){
    margin-bottom: 3px;
    
}

.links>a{
    font-size: 0.8rem;
    color: #6B7280;
}



/* navigation logo */

.logo, logo:visited, logo:hover{
    text-decoration: none;    
}

.logo{
    font-weight: 800;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    color:#6B7280;
}

.logo>span{
    color:#FBBF24;
}


